<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title></title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<h2>Product {{ product.id }}</h2>
			</div>
			<div class="row">
				<h4>Name: {{ product.name }}</h4>
			</div>
			<div class="row">
				<h4>Description: {{ product.description }}</h4>
			</div>
			<div class="row">
				<h4>Price: {{ product.price }}</h4>
			</div>
			<div class="row">
				<br>
				<a href="{% url 'products:edit' product.id %}">Edit</a> | <a href="{% url 'products:index' %}">Go Back</a>
			</div>
		</div>
	</body>
</html>