<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title></title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<form action="{% url 'courses:add_user_to_course' %}" class="col-sm-3 col-sm-offset-1" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="user">User</label>
						<select class="form-control" name="user">
						{% for user in users %}
							<option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="course">Courses</label>
						<select class="form-control" name="course">
						{% for course in courses %}
							<option value="{{ course.id }}">{{ course.name }}</option>
						{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Add User to Course</button>
				</form>
			</div>
			<div class="row">
				<div id="users_courses" class="col-sm-offset-1 col-sm-10">
					<table class="table table-striped">
						<h2>Users and Courses</h2>
						<tr>
							<th>Course ID</th>
							<th>Course Title</th>
							<th>Number of Users</th>
						</tr>
						{% for i in course_user_counts %}
							<tr>
								<td>{{ i.0 }}</td>
								<td>{{ i.1 }}</td>
								<td>{{ i.2 }}</td>
							</tr>
						{% endfor %}
						<tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>