#container{
	margin: 0px auto;
	text-align: center
}
#success{
	background-color: green;
	color: white;
	width: 20%;
	margin: 0px auto;
	padding-top: 1%;
	padding-bottom: 1%;
}
.fail{
	background-color: red;
	color: white;
	width: 20%;
	margin: 0px auto;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 20px;
}