<!DOCTYPE html>
<html>
<head>
	<title>Great Number Game</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
	<div id="container">
		<form action="/process_money" method="post">
			<h3>Farm</h3>
			<p>(earns 10-20 golds)</p>
  			<input type="hidden" name="building" value="farm" />
 			<input type="submit" value="Find Gold!"/>
		</form>
		<form action="/process_money" method="post">
			<h3>Cave</h3>
			<p>(earns 5-10 golds)</p>
  			<input type="hidden" name="building" value="cave" />
 			<input type="submit" value="Find Gold!"/>
		</form>
		<form action="/process_money" method="post">
			<h3>House</h3>
			<p>(earns 2-5 golds)</p>
  			<input type="hidden" name="building" value="house" />
 			<input type="submit" value="Find Gold!"/>
		</form>
		<form action="/process_money" method="post">
			<h3>Casino</h3>
			<p>(earns/takes 0-50 golds)</p>
  			<input type="hidden" name="building" value="casino" />
 			<input type="submit" value="Find Gold!"/>
		</form>
		<p>Amount of Gold {{ session['money_count'] }}</p>

		<div id="text">
		{% for i in session['message'] %}
			<p>{{ i }}</p>
		{% endfor %}
		</div>

		<form action="/reset" method="post">
 			<input type="submit" value="reset"/>
		</form>
	</div>
</body>
</html>