<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <h1>Friends <small><a [routerLink]="['/new']">(Add New Friend)</a></small></h1>
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="search">Filter by First Name</label>
                    <input type="text" [(ngModel)] = "search" name="mysearch" (input) = "filterTable(mysearch.value)" class="form-control" #mysearch>
                </div>
            </form>
            <table *ngIf="_friendService.friends2" class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Show</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let friend of _friendService.friends2">
                    <td>{{friend.firstName}} {{friend.lastName}}</td>
                    <td><a [routerLink]="['/show/'+friend._id]" class="btn btn-primary btn-sm">Show</a></td>
                    <td><a [routerLink]="['/edit/'+friend._id]" class="btn btn-info btn-sm">Update</a></td>
                    <td><button class="btn btn-danger btn-sm" (click) = "delete(friend)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>


