<div class="col-sm-6">
    <table class="table table-striped" *ngIf="_productService.products.length > 0">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let product of _productService.products; let i=index">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td><button (click) = "destroy(i)" class="btn btn-primary btn-xs">Remove</button></td>
      </tr>
    </table>
</div>
