<!DOCTYPE html>
<html>
<head>
	<title>Edit Friends</title>
	<style type="text/css">
		
	form {
		display: inline-block;
	}

	</style>
</head>
<body>

{% for friend in this_friend: %}
	<form action='/friends/{{ friend['id'] }}' method='POST'>
		<label>First Name: <input type="text" name="first_name" value={{ friend['first_name'] }}></label>
		<label>Last Name: <input type="text" name="last_name" value={{ friend['last_name'] }}></label>
		<label>Email: <input type="test" name="email" value={{ friend['email'] }}"></label>
		<input type="submit" value="update">
	</form>
	<form action='/'>
		<input type="submit" value="go back">
	</form>
{% endfor %}
</body>
</html>