<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Add Book and Review</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6" id="header">
					<h2>{{ book.title }}</h2>
				</div>
				<div class="col-sm-2 col-sm-offset-4" id="actions">
					<br>
					<div class="btn-group">
  						<a href="{% url 'books:index' %}" class="btn btn-link">Home</a>
  						<a href="{% url 'login:index' %}" class="btn btn-link">Logout</a>
					</div>
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-sm-6" id="review">
					<h4>Reviews</h4>
					<ul class="list-group">
					{% for review in book.book_reviews.all %}
						<li class="list-group-item">
							<p>
							Rating:
							{% if review.rating == 1 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% elif review.rating == 2 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% elif review.rating == 3 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% elif review.rating == 4 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% else %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							{% endif %}
							</p>
							</p>
							<p><a href="{% url 'books:display_user' review.user_id.id %}">{{ review.user_id.first_name.title }}</a> says: <em>{{ review.text }}</em></p>
							<p><em>{{ review.created_at }}</em></p>
							{% if request.session.user_id == review.user_id.id %}
								<p><form action="{% url 'books:destroy_review' review.id %}" method="post">{% csrf_token %}<button type="submit" class="btn btn-danger">Delete My Review</button></form></p>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>
				<div class="col-sm-6" id="add_review">
					{% if request.session.user_id not in users_with_reviews %}
						<form action="{% url 'books:create_review' book.id%}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="review">Add a Review:</label>
								<textarea class="form-control" name="review"></textarea>
							</div>
							<div class="form-group">
								<label for="rating">Rating</label>
								<select class="form-control" name="rating">
								<option value="1">1</option>
	    						<option value="2">2</option>
	    						<option value="3">3</option>
	    						<option value="4">4</option>
	    						<option value="5">5</option>
							</select>
							</div>
							<button type="submit" class="btn btn-primary">Add Review</button>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>