<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Books Home</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<style type="text/css">
				.scroll_panel{
					max-height: 400px; 
					overflow-y: scroll;
				}
			</style>
		</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div class="col-sm-6" id="name">
					<h2>Welcome, {{ user.first_name.title }}</h2>
				</div>
				<div class="col-sm-3 col-sm-offset-3" id="actions">
					<br>
					<div class="btn-group">
  						<a href="{% url 'books:add_book' %}" class="btn btn-link">Add Book and Review</a>
  						<a href="{% url 'login:index' %}" class="btn btn-link">Logout</a>
					</div>
				</div>
			</div>
			<div class="row" id="content">
				<div class="col-sm-6" id="recent_reviews">
					<h4>Recent Book Reviews:</h4>
					<ul class="list-group">
					{% for review in reviews%}
						<li class="list-group-item">
							<p><a href="{% url 'books:display_book' review.book_id.id %}">{{review.book_id.title}}</a></p>
							<p>
							Rating: 
							{% if review.rating == 1 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% elif review.rating == 2 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% elif review.rating == 3 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% elif review.rating == 4 %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							{% else %}
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							{% endif %}
							</p>
							<p><a href="{% url 'books:display_user' review.user_id.id %}">{{review.user_id.first_name.title}}</a> says: <em>{{review.text}}</em></p>
							<p><em>{{review.created_at}}</em></p>
						</li>
					{% endfor %}
					</ul>
				</div>
				<div class="col-sm-6" id="books_with_reviews">
					<h4>Other Books with Reviews:</h4>
					<div class="panel panel-default scroll_panel">
						<div class="panel-body">
						{% for book in books %}
							<p><a href="{% url 'books:display_book' book.id %}">{{ book.title }}</a></p>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>