<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Dojo Secrets | Most Popular</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div id="popular secrets" class="col-sm-10">
					<a href="{% url 'secrets:index' %}">Go Back</a>
					<h1>Most Popular Secrets</h1>
					<ul class="list-group" >
					{% for secret, count in secrets %}
						<li class="list-group-item">
							{{ secret.post }} <span class="label label-default">posted {{secret.created_at}}</span>
							{% if user == secret.user_id %}
								<span class="label label-info">{{secret.likes.count}} Likes</span>
								<span class="label label-info">You posted this</span>
								<form action="{% url 'secrets:destroy' secret.id %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-danger btn-sm">Delete</button>
								</form>
							{% else %}
								{% if user in secret.likes.all %}
									<span class="label label-info">{{secret.likes.count}} Likes</span>
									<span class="label label-success">You liked this</span>
								{% else %}
									<form action="{% url 'secrets:like' secret.id %}" method="post">
										{% csrf_token %}
										<button type="submit" class="btn btn-primary btn-sm"><span class="badge badge-xs">{{secret.likes.count}}</span> Like</button>
									</form>
								{% endif %}
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>