<!DOCTYPE html>
<html>
<head>
	<title>Email Validation</title>
	<style type="text/css">
		
		.error{
			background-color: red;
			width: 250px;
		}

		.fail{
			background-color: green;
			width: 250px;
		}

	</style>
</head>
<body>
	<form action="/add" method="POST">
		{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
								<p class="{{ category }}">{{ message }}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
		<label name="email_address">Email Address: </label><input type="text" name="email_address">
		<input type="submit" value="Add">
	</form>

	<h3>Email Address Entered</h3>
	{% for email in all_emails: %}
   	<p>{{ email['email_address'] }} {{ email['created_at'] }} {{ email['updated_at'] }} </p>
	{% endfor %}
</body>
</html>